<div class="login-container" *ngIf="loginFormGroup.enabled">
  <mat-card [formGroup]="loginFormGroup">
    <mat-card-header>
      <mat-card-title>Authentication</mat-card-title>
    </mat-card-header>
    <mat-divider class="divider-spacing"></mat-divider>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="login()">Se connecter</button>
      <button mat-button color="accent" (click)="toggleRegister()">Créer un compte</button> 
    </mat-card-actions>
  </mat-card>
</div>

<div class="register-container" *ngIf="registerFormGroup.enabled">
  <mat-card [formGroup]="registerFormGroup">
    <mat-card-header>
      <mat-card-title>Créer un compte</mat-card-title>
    </mat-card-header>
    <mat-divider class="divider-spacing" ></mat-divider>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="register()">S'inscrire</button>
      <button mat-button color="warn" (click)="toggleLogin()">Retour</button>
    </mat-card-actions>
  </mat-card>
</div>
