mat-form-field {
    display: block;
  }
  .login-container {
    width: 600px;
    margin: auto;
    justify-content: center;
    max-width: 800px;
  
  }

  .register-container {
    width: 600px;
    margin: auto;
    justify-content: center;
    max-width: 800px;
  
  }

  .divider-spacing {
    margin-bottom: 16px; 
  }
  