    <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  
    <span>GestBiblio</span>
    <span class="spacer"></span>
  
    <button mat-button routerLink="/admin/home">Accueil</button>
    <button mat-button routerLink="/admin/books">Livres</button>
  
    <button *ngIf="authService.roles.includes('ADMIN')" mat-button routerLink="/admin/new-books">Nouveau Livre</button>
  
    <span *ngIf="authService.authenticated==true" class="username">{{ authService.username }}</span>
    
    <button mat-raised-button color="accent" (click)="logout()">Déconnexion</button>
  </mat-toolbar>
  
  <mat-drawer-container>
    <mat-drawer #drawer mode="side" opened="true">
      <mat-nav-list>
        <mat-list-item>
          <button mat-button routerLink="/admin/books">
            <mat-icon>menu_book</mat-icon>
            Livres
          </button>
        </mat-list-item>
  
        <mat-list-item *ngIf="authService.roles.includes('ADMIN')">
          <button mat-button routerLink="/admin/new-books">
            <mat-icon>library_add</mat-icon>
            Nouveau Livre
          </button>
        </mat-list-item>
  
        <mat-list-item>
          <button mat-button routerLink="/admin/borrow-book">
            <mat-icon>book</mat-icon>
            Emprunt Livre
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content>
      <div style="min-height: 600px">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  